body {
    font-family: 'Ubuntu', sans-serif;
    background-color: aliceblue;
}
.intro, footer {
    background-color: rgb(204, 240, 252);
    padding: 20px 10px 20px 10px;
}
.movie {
    display: flex;
    justify-content: right;
}
.photos {
    width: 350px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.tribute-link {
    display: inline-block;
    text-decoration: none;
    color: blue;
    padding-left: 30px;
}
.tribute-link:hover{
    color: red;
}
.tribute-link:active{
    color: red;
}
#img-div {
    display: flex;
    justify-content: space-evenly;
}
#img-caption {
    text-align: center;
}
#timeline {
    margin: auto;
}
#tribute-info {
    margin: 10px 5px 10px 5px;
    background-color: rgb(173, 216, 230, 0.3);
}
#timeline-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#quote {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
#source {
    background-color: rgb(204, 240, 252);
    font-weight: bold;
    font-size: 20px;
}
/*Buttons*/
button {
    border-radius: 5px;
    box-shadow: 2px 1px 1px;
    background-color: lavender;
    justify-content: center;
}
button:hover {
    font-weight: bold;
}
#alan-button {
    margin-top: 5px;
    width: 100px;
    height: 20px;
}
#whoIsAlan, #whatContribution {
    visibility: hidden;
    text-align: center;
}
#contribution-button {
    margin-bottom: 10px;
}
@media only screen and (max-width: 1060px) {
    .photos {
        width: 200px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 650px) {
    .photos {
        width: 100px;
        height: 125px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}